* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  scroll-behavior: smooth; }
  @media (max-width: 1192px) {
    html .slogan--content h3 {
      font-size: 200%; }
    html .slogan--content p {
      font-size: 120%; } }
  @media (max-width: 900px) {
    html .header {
      height: 100%;
      background: #010103; }
      html .header .logo {
        display: block;
        position: absolute;
        left: 2%;
        top: 5%; }
      html .header .navigate_bar {
        top: 0; }
    html .slogan {
      margin-top: 0;
      padding-left: 10%;
      padding-bottom: 10%;
      padding-right: 0; }
      html .slogan--content {
        width: 100%;
        padding-bottom: 20%; }
        html .slogan--content h3 {
          width: 46%;
          padding: 10px 0; }
    html .menu--toggle {
      display: none;
      width: 200px !important;
      position: absolute;
      height: 100vh;
      right: -200px;
      top: 0;
      transition-duration: 0.5s;
      padding-left: 50px !important;
      padding-top: 50px !important;
      z-index: 1000; }
      html .menu--toggle li {
        margin-bottom: 10px;
        display: table !important;
        border-bottom: 1px solid #010103; }
        html .menu--toggle li a {
          color: #010103 !important; }
        html .menu--toggle li::after {
          display: none; }
        html .menu--toggle li a:hover {
          color: #51c0e9 !important; }
    html .actived {
      display: block !important;
      right: 0;
      background-color: #fff; }
    html .menu-hidden {
      width: 40px;
      position: absolute;
      top: 20px;
      right: 30%;
      z-index: 1000;
      transition-duration: 1s; }
      html .menu-hidden:hover {
        cursor: pointer; }
      html .menu-hidden div {
        width: 40px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0; }
      html .menu-hidden .menu-icon-first {
        transform: rotate(50deg) translate(8px, 8px);
        background-color: #2d2a2a !important;
        transition-duration: 1s; }
      html .menu-hidden .menu-icon-mid {
        visibility: hidden;
        transition-duration: 0s; }
      html .menu-hidden .menu-icon-end {
        transform: rotate(-50deg) translate(8px, -8px);
        transition-duration: 1s;
        background-color: #2d2a2a !important; } }
  @media (max-width: 600px) {
    html .logo {
      left: 7% !important; }
    html .slogan--content {
      padding-right: 10%; }
      html .slogan--content h3 {
        padding: 0 30px 20px;
        text-align: center;
        width: 100%; }
      html .slogan--content p {
        font-size: 120%; }
    html #aboutus p {
      font-size: 100%; }
    html #dog-dragon-theme {
      display: inline-block;
      text-align: center; }
      html #dog-dragon-theme img:nth-child(1) {
        width: 300px; }
    html .chart {
      flex-direction: column; }
      html .chart--image {
        width: 100%; }
      html .chart--data {
        width: 100%;
        padding: 0 40px; }
    html #roadmap .roadmap--wrapper {
      padding: 30px 10% 0; }
    html #roadmap .phase--wrapper {
      padding: 20px 10px; }
    html #roadmap .phase--item {
      padding: 30px 0 15px; }
    html #ourpartners .ourpartner-image .coingecko-logo-item {
      width: 100%; }
    html #ourpartners .ourpartner-image--item {
      margin: 0 auto;
      width: 150px; }
      html #ourpartners .ourpartner-image--item--part1 {
        flex-direction: column; }
      html #ourpartners .ourpartner-image--item--part2 div:nth-child(1) {
        line-height: 425%; }
    html #ourpartners .social-media {
      width: 100%; }
      html #ourpartners .social-media--item {
        width: 50%; } }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: #2d2a2a;
  font-weight: 400; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/background/header_bg.png) center no-repeat;
  background-size: cover; }
  .header button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    background-color: #0c89a5;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 130%;
    z-index: 900; }
    .header button:hover {
      background-color: #51c0e9;
      transition-duration: 0.5s;
      cursor: pointer; }

#particles-js {
  position: relative;
  padding: 30px 0 0;
  height: 100%; }

.particles-js-canvas-el {
  position: absolute;
  top: 0; }

.clearfix::after {
  content: '';
  clear: both;
  display: table; }

.logo {
  display: none;
  width: 7%; }
  .logo img {
    width: 100%; }

.navigate_bar {
  padding: 0 30px;
  position: absolute;
  top: 5%;
  right: 0;
  z-index: 1000; }
  .navigate_bar--right .menu--toggle {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right; }
    .navigate_bar--right .menu--toggle li {
      padding: 0 10px 0 0;
      display: inline-block; }
      .navigate_bar--right .menu--toggle li a {
        color: #fff;
        font-size: 126%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700; }
      .navigate_bar--right .menu--toggle li::after {
        content: '';
        border-right: 1px solid #fff;
        margin-left: 10px;
        transform: translate(0, 1px); }
      .navigate_bar--right .menu--toggle li:last-child::after {
        display: none; }

.slogan {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 20%;
  padding-bottom: 10%; }
  .slogan--content {
    position: relative;
    width: 80%;
    padding-right: 50px;
    color: #fff;
    padding-bottom: 8%; }
    .slogan--content h3 {
      font-size: 300%;
      width: 60%;
      line-height: 1.1;
      padding: 30px 0; }
    .slogan--content p {
      font-size: 120%;
      text-align: justify; }

.section-wrapper {
  background: url(../images/background/main_bg.jpg) center fixed;
  background-size: cover;
  color: #fff;
  font-size: 150%; }
  .section-wrapper .aboutus--wrapper {
    width: 100%; }
  .section-wrapper #aboutus {
    padding: 30px 10%; }
    .section-wrapper #aboutus h2 {
      text-align: center;
      position: relative;
      margin-bottom: 30px; }
      .section-wrapper #aboutus h2::after {
        content: '';
        width: 200px;
        height: 3px;
        position: absolute;
        top: 97%;
        left: 50%;
        margin-left: -100px;
        background-color: #51c0e9; }
    .section-wrapper #aboutus p {
      text-align: justify; }

#dog-dragon-theme {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  #dog-dragon-theme img {
    width: 200px;
    vertical-align: middle; }
    #dog-dragon-theme img:nth-child(1) {
      width: 421px; }

#tokenomics {
  background-size: cover; }
  #tokenomics h3 {
    text-transform: capitalize;
    margin: 0 auto;
    display: table;
    font-size: 190%;
    border-bottom: solid 1px #51c0e9; }

.chart {
  display: flex; }
  .chart--image {
    width: 50%; }
    .chart--image img {
      width: 100%; }
  .chart--data {
    width: 50%;
    padding-top: 10%; }
    .chart--data ul {
      list-style: none; }
      .chart--data ul li {
        margin-bottom: 20px; }
        .chart--data ul li span {
          font-size: 120%; }
        .chart--data ul li .percents {
          color: yellow;
          font-weight: 900;
          font-style: italic; }
        .chart--data ul li .hundred {
          color: red;
          font-weight: 900;
          font-style: italic; }

#roadmap {
  color: #010103;
  background-size: cover;
  text-align: center;
  font-weight: 700; }
  #roadmap .roadmap--wrapper {
    padding: 30px 10%; }
  #roadmap h3 {
    position: relative;
    color: #fff;
    margin-bottom: 25px;
    font-size: 190%; }
    #roadmap h3::after {
      content: '';
      width: 50px;
      height: 3px;
      position: absolute;
      top: 97%;
      left: 50%;
      margin-left: -25px;
      background-color: #51c0e9; }
  #roadmap .time-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 1px);
    border-width: 2px;
    border-left-style: solid;
    border-color: #e1e1e1; }
    #roadmap .time-line--arrow {
      position: absolute;
      bottom: calc(100% - 1px);
      left: calc(50% - 8.35px);
      width: 16px;
      height: 12px;
      background-color: #e8f8f8;
      line-height: 0;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
    #roadmap .time-line--dot {
      position: absolute;
      left: calc(50% - 5.5px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      box-shadow: inset 100px 100px #e8f8f8; }
    #roadmap .time-line .dot-end {
      top: 99.8%; }

.phase--wrapper {
  position: relative;
  padding: 20px 65px; }

.phase--item {
  margin-top: 30px;
  padding: 30px 30px 15px;
  position: relative; }
  .phase--item h4 {
    margin-bottom: 15px; }
  .phase--item p {
    line-height: 1.5; }

.phase--dot {
  background-color: #1e73be;
  position: absolute;
  top: 0;
  left: calc(50% - 0.45px);
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border: solid 2px #fff;
  border-radius: 50%; }

.phase--bg {
  background-color: #e8f8f8;
  padding: 30px 0; }

.phase--1 {
  z-index: 1000;
  position: relative; }

.phase--2 {
  z-index: 1000;
  position: relative; }

.phase--3 {
  z-index: 1000;
  position: relative; }

#ourpartners h3 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 190%; }
  #ourpartners h3::after {
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
    top: 97%;
    left: 50%;
    margin-left: -30px;
    background-color: #51c0e9; }

#ourpartners .ourpartner-image {
  padding-top: 30px; }
  #ourpartners .ourpartner-image--item {
    width: 300px;
    text-align: center; }
    #ourpartners .ourpartner-image--item--part1 {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      #ourpartners .ourpartner-image--item--part1 .pancakeswap-logo {
        width: 55px; }
      #ourpartners .ourpartner-image--item--part1 .coingecko-logo {
        width: 210px; }
    #ourpartners .ourpartner-image--item--part2 {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      #ourpartners .ourpartner-image--item--part2 div:nth-child(1) {
        line-height: 680%; }
    #ourpartners .ourpartner-image--item img {
      width: 100%; }

#ourpartners .social-media {
  display: flex; }
  #ourpartners .social-media--item {
    width: 50%;
    text-align: center; }
    #ourpartners .social-media--item a {
      font-weight: 700; }
      #ourpartners .social-media--item a i {
        color: #51c0e9; }
      #ourpartners .social-media--item a:link {
        text-decoration: none;
        color: #51c0e9; }
      #ourpartners .social-media--item a:visited {
        color: #010103; }
    #ourpartners .social-media--item--icon {
      color: #51c0e9;
      font-size: 500%; }

.footer {
  width: 100%;
  border-top: solid 1px #d2d1d3;
  padding: 20px 0;
  text-align: center; }
  .footer .coppy-right {
    font-weight: 400;
    font-size: 90%; }
    .footer .coppy-right span {
      color: #d2d1d3; }

.scroll-top {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: solid #3d2660;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  z-index: 2000; }
  .scroll-top nav {
    height: 100%; }
    .scroll-top nav ul {
      height: 100%; }
      .scroll-top nav ul li {
        list-style-type: none;
        height: 100%; }
        .scroll-top nav ul li a {
          text-decoration: none;
          width: 100%;
          display: block;
          text-align: center;
          color: #2d2a2a;
          height: 100%;
          font-size: 180%; }
